:root {
    --primary-clr : black;
    --secondary-clr : white;
    --border-color : rgb(41, 40, 40);
    --primary-clr-text : rgb(226, 226, 226);
    --additional-clr-text : black;
    --secondary-clr-text : #6b6b6b;
    --border-sts : 1px solid;
    --border-img : 5px solid;
    --background-img : #D9D9D9;
}
html {
  scroll-behavior: smooth; 
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'inter', sans-serif;
    background-color: var(--primary-clr);
    overflow-x: hidden;
}



.navbar {
    position: fixed;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: 45px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    z-index: 1000;    
    border-radius: 40px;
    opacity: 0.9;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-clr-text);
    font-size: 13px;
    font-weight: 500;
    padding: 6px 16px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav-links a:not(.aboutnav a):hover {
  transform: scale(1.05);
}

.aboutnav {
    width: fit-content;
    background-color: #ffffff;
    border-radius: 40px;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}

.aboutnav:hover {
    transform: scale(1.05);
}

.aboutnav a {
    color: #111111;
}

.theme-toggle {
    width: 44px;
    height: 22px;
    background-color: #1a1a1a;
    border-radius: 99px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
    transition: background-color 0.3s ease;
}

.toggle-circle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.hero {
    justify-items: center;
}

.hero h1.wavy-text {
    font-size: 9rem;
    font-weight: bold;
    letter-spacing: -2%;
    margin-top: 200px;
}

.hero h2.TextSec {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -2%;
    color: var(--primary-clr-text);
}

.hero h1.wavy-text span {
    display: inline-block;
    will-change: transform;
    color: var(--primary-clr-text);
}

.btn-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;        
}

.hero a {
    align-self: center;
    display: inline-block;     
    background-color: var(--secondary-clr); 
    color: var(--additional-clr-text);            
    text-decoration: none;     
    padding: 12px 32px;        
    font-size: 16px;
    font-weight: 700;
    border-radius: 72px;              
}

.hero a:hover {
    opacity: 0.85;
}

.hero p {
    color: var(--secondary-clr);
}

.quote-box {
    padding: 10px;
    border: var(--border-img);
    border-radius: 20px;
    color: var(--primary-clr-text);   
    background-color: var(--secondary-clr);
}
.quote-box p {
    font-weight: 500;
    font-style: italic;
    color: var(--secondary-clr-text);
}

.Status {
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-top: var(--border-sts);
    border-bottom: var(--border-sts);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--border-sts) var(--border-color);
    border-top: var(--border-sts) var(--border-color);
    
}

.StatusMe {
    align-items: center;
    text-align: justify;
    color: var(--primary-clr-text);
}



.About-Me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 0 auto;
    padding: 80px 20px;
    max-width: 1500px;
}

.About-me {
    border-bottom: var(--border-sts);
}

.About-text {
    flex: 1.2;
    margin-left: 100px;
}

.About-text h1 {
    font-size: 50px;
    color: var(--primary-clr-text);
}

.About-text p {
    font-size: 25px;
    line-height: 1.6;
    color: var(--secondary-clr-text);
    margin-bottom: 12px;
}

.About-img {
    width: 30%;
    height: 30%;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    box-sizing: border-box;
    margin-top: 6px;
}


.card.reverse {
    flex-direction: row-reverse;
}

.media-box, 
.text-box {
  flex: 1;                
  width: 50%;
}

video.media-box {
  width: 100%;            /* Paksa video mengikuti lebar kotaknya */
  height: auto;           /* Menjaga rasio video */
  display: block;
  border-radius: 12px;    /* Sudut membulat */
  overflow: hidden;
}

.media-box {
    min-height: 250px;
    max-height: 300px;
    min-width: 200px;
    max-width: 600px;
    background-color: var(--background-img);
    border: 2px solid #000; 
}

.text-box {
    width: 50%;
    color: var(--primary-clr-text);
}

.text-box h2 {
    font-size: 2.5rem;
    font-weight: 800; 
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.my-skill {
    border-top: var(--border-sts) var(--border-color);
    border-bottom: var(--border-sts) var(--border-color);

}

.My-Skill {
    max-width: 900px;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: 40px 20px;
}



.Previous-Jobs {
    padding: 10px;
    border-bottom: var(--border-sts);
    border-top: var(--border-sts);
    text-align: center;
    justify-content: space;
}
.container-jobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.previous-jobs {
    box-sizing: border-box;
    min-height: 250px;
    max-height: 350px;
    min-width: 200px;
    max-width: 600px;
    z-index: -10;
    background-color: var(--primary-clr);
    margin: 30px;
}

.previous-jobs img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;box-shadow: #2b2a2a 1px 1px 9rem 1rem;
}

.Previous-Jobs h1 {
    color: var(--primary-clr-text);
    margin-top: 20px;
    font-size: 50px;
}

.Previous-Jobs h2 {
    color: var(--primary-clr-text);
    margin-top: 40px;
}



.Footer {
    height:300px ;
    width: 100%;
    background-color: rgb(8, 8, 8);
    border-top: var(--border-sts) var(--border-color);
    border-bottom: var(--border-sts) var(--border-color);
}

.Footer h1 {
    font-size: 40px;
    color: var(--primary-clr-text);
    text-align: center;
    padding-top: 50px;
}

.Footer h2 {
    font-size: 40;
    color: var(--primary-clr-text);
    text-align: center;
    padding-top: 10px;
}

.Footer p {
    font-size: 40;
    color: var(--primary-clr-text);
    text-align: center;
    padding-top: 10px;
}


.glow-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgb(133, 133, 133);
    border-radius: 50%;
    filter: blur(100px);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    will-change: transform;
}



@media (max-width: 768px) {
    .navbar, .nav-links, .glow-circle {
        display: none;
    }
    .Status {
            flex-direction: column;      
            gap: 30px;
            align-items: center;
            text-align: center;
    }

    .StatusMe {
            text-align: center;
    }

    .About-text {
            text-align: center;
            margin-right: 100px;
    }

    .About-Me, .container-jobs {
            flex-direction: column;
    }

    .card {
        flex-direction: column;
        text-align: center;
    } 
    .card.reverse {
        flex-direction: column;
        text-align: center;
    }

    .media-box {
        width: 100%;
    }
    .text-box {
        width: 100%;
        margin-top: 0%;
        text-align: center;
    }
}

